*, *:after, *:before {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

a {
    text-decoration: none
}

.MuiCard-root {
    display: flex;
    flex-direction: column;
}

.flexGrow {
    flex-grow: 1
}

.fullHeight {
    height: 100%
}
